---
title: Hacker News Kansai
---
  <section id = "intro">
    <div class = "container">
      <div class = "row-fluid">
        <span id="logo" class = "span4">
          <%= image_tag 'hn-logo.png', :width => '300', :class => 'logo'%>
        </span>
        <span id= "events" class = "span7 offset1">
          <li id = "event-details">Next Event: </li>
        </span>
      </div>
    </div>
  </section>

  <section id = "welcome">
    <div class = "container">
      <div class = "row-fluid">
        <span id = "about" class = "span6 offset3">
            <p>
              HNKansai is a meetup based around <%= link_to 'Hacker News', 'http://news.ycombinator.com' %>.
              Every month, we get together in Kyoto, Osaka, or Kobe to talk about technology, design, games, and startups. Come join us!
            </p>
        </span>
        <div class = "row-fluid">
          <span id="newsletter" class = "span6 offset3">
              <p> Sign up to be notified about upcoming events and other news.</p>
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
              <form action="http://fajitanachos.us6.list-manage.com/subscribe/post?u=2ab6d042c537ad6da617f47a3&amp;id=aefb12e09b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div class="clear">
                  <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </form>
              </div>
              <!--End mc_embed_signup-->
          </span>
        </div>
      </div>
    </div>
  </section>

  <section id = "photos">
    <div class = "container">
      <div class = "row-fluid">
        <h2> Photos </h2>
        <div id = "galleries">
      </div>
    </div>
  </section>

  <section id = "videos">
    <div class = "container">
      <div class = "row-fluid">
         <h2>Videos</h2>
          <div id="player">
          </div>
        </div>
    </div>
  </section>

  <section id = "organizers">
    <div class = "container">
      <div id = "row-fluid">
      <h2>Organizers</h2>
      <span id = "Sacha" class = "organizer">
        <%= image_tag 'sacha.jpg', :class => 'profile-pic'  %>
        <div class = "caption">
          <h3>Sacha Greif </h3>
          <li><a href="http://sachagreif.com"></a></li>
        </div>
      </span>

      <span id = "Raphael" class = "organizer">
        <%= image_tag 'raphael.jpg', :class => 'profile-pic'  %>
       <div class = "caption">
          <h3>Raphael Guyot </h3>
        </div>
      </span>
      
      <span id ="Paco" class = "organizer">
        <%= image_tag 'paco.jpg', :class => 'profile-pic'  %>
        <div class = "caption">
          <h3>Francisco 'Paco' Alcantara</h3>
        </div>
      </span>
     </div>
    </div>
  </section>

  <section id = "footer">

  </section>
 

</div>