---
title: Hacker News Kansai
---
<div class="container">
  <section id = "intro">
    <div id="logo">
    <%= image_tag 'hn-logo.png', :width => '300', :class => 'logo'%>
    <h1>Hacker News Kansai</h1>
    </div>
    <div id= "events">
      <h2>Next Event</h2>
      <li id = "event-details"></li>
    </div>
  </section>

  <section id = "about">
    <div id = "about-us">
      <p>
        HNKansai is a meetup based around <%= link_to 'Hacker News', 'http://news.ycombinator.com' %>.
        Every month, we get together in Kyoto, Osaka, or Kobe to talk about technology, design, games, and startups. Come join us!
      </p>
    </div>
  </section>

  <section id = "photos">
    <h2> Photos </h2>
    <div id = "galleries">

    </div>

  </section>

  <section id = "videos">
    <h2>Videos</h2>
   <div id="player">
   </div>
  </section>

  <section id = "organizers">
    <h2>Organizers</h2>
    <div id = "Sacha" class = "organizer">
      <%= image_tag 'sacha.jpg', :class => 'profile-pic'  %>
      <div class = "caption">
        <h3>Sacha Grief </h3>
      </div>
    </div>

    <div id = "Raphael" class = "organizer">
      <%= image_tag 'raphael.jpg', :class => 'profile-pic'  %>
     <div class = "caption">
        <h3>Raphael Guyot </h3>
      </div>
    </div>
    
    <div id ="Paco" class = "organizer">
      <%= image_tag 'paco.jpg', :class => 'profile-pic'  %>
      <div class = "caption">
        <h3>Francisco 'Paco' Alcantara</h3>
      </div>
    </div>
   
  </section>

     <section id = "social">
    <h2> Social Links </h2>
    <div id="social-links">
      <span id="twitter" class = "social">
      <% link_to 'http://twitter.com/hnkansai' do %>
        <%= image_tag 'twitter.png', :class => 'social-icon'  %>
      <% end %>
      </span>
      <span id= "facebook" class = "social">
       <% link_to 'http://facebook.com/groups/hnkansai' do %>
        <%= image_tag 'facebook.png', :class => 'social-icon'  %>
      <% end %>
      </span>
      <span id = "flickr">
       <% link_to 'http://flickr.com/hnkansai' do %>
        <%= image_tag 'flickr.png', :class => 'social-icon'  %>
      <% end %>
      </span>
    </div>
  </div>

  </section>
  <section id = "sponsers">
    <h2> Sponsers </h2>
  </section>

 

</div>