---
title: Hacker News Kansai
---
  <section id = "header">
    <div class = "container">
      <div class = "row">
        <span id="logo" class = "span4">
          <%= image_tag 'hn-logo.png', :width => '300', :class => 'logo'%>
        </span>
        <span id= "events" class = "span7 offset1">
          <li id = "event-details">Next Event: </li>
        </span>
      </div>
    </div>
  </section>
  <section id = "nav">
         <div id = "navbar" class="navbar navbar-inverse" data-spy="affix">
            <div class="navbar-inner">
               <div id = "language">
                <ul class = "nav">
                    <li><%=link_to '日本語', '#jp'%></li>
                </ul>
                </div>
                <div class="container">
                    <ul class="nav">
                        <li><%=link_to 'Home', '#' %></li>
                        <li><%=link_to 'Photos', '#photos' %></li>
                        <li><%=link_to 'Videos', '#videos' %></li>
                        <li><%=link_to 'Contact', 'mailto:hello@hnkansai.org' %></li>
                    </ul>
                <div class="social pull-right">
                  <li class = 'social-icon'><%= link_to image_tag('facebook.png'), 'http://facebook.com/hnkansai' %></li>
                  <li class = 'social-icon'><%= link_to image_tag('twitter.png'), 'http://twitter.com/hnkansai' %></li>
                  <li class = 'social-icon'><%= link_to image_tag('flickr.png'), 'http://flickr.com/hnkansai' %></li>
                  <li class = 'social-icon'><%= link_to image_tag('youtube.png'), 'http://www.youtube.com/channel/UCbxKJC9zZJ9C7YDYuZ3m59Q' %></li>
                </div>
            </div>
        </div>
      </div>
  </section>
  <section id = "welcome">
    <div class = "container">
      <div class = "row">
        <span id = "about" class = "span6 offset3">
            <p>
              HNKansai is a meetup based around <%= link_to 'Hacker News', 'http://news.ycombinator.com' %>.
              Every month, we get together in Kyoto, Osaka, or Kobe to talk about technology, design, games, and startups. Come join us!
            </p>
        </span>
      </div>
        <div class = "row">
          <span id="newsletter" class = "span6 offset3">
              <p> Sign up to be notified about upcoming events and other news.</p>
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
              <form action="http://fajitanachos.us6.list-manage.com/subscribe/post?u=2ab6d042c537ad6da617f47a3&amp;id=aefb12e09b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                <div class="clear">
                  <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </form>
              </div>
              <!--End mc_embed_signup-->
          </span>
        </div>
      </div>
  </section>

    <section id = "videos">
    <div class = "container">
      <div class = "row">
         <h2>Videos</h2>
          <div id="player">
          </div>
        </div>
    </div>
  </section>

  <section id = "photos">
    <div class = "container">
      <div class = "row">
        <h2> Photos </h2>
        <div id = "galleries">
      </div>
    </div>
  </section>

  <section id = "organizers">
    <div class = "container">
      <div class = "row">
      <h2>Organizers</h2>
      <span id = "sacha" class = "organizer">
        <%= image_tag 'sacha.jpg', :class => 'profile-pic'  %>
        <div class = "caption">
          <h3>Sacha Greif </h3>
          <li><a href="https://twitter.com/SachaGreif">@SachaGreif</a></li>
          <li><a href="http://sachagreif.com">http://sachagreif.com</a></li>
        </div>
      </span>

      <span id = "raphael" class = "organizer">
        <%= image_tag 'raphael.jpg', :class => 'profile-pic'  %>
       <div class = "caption">
          <h3>Raphael Guyot </h3>
          <li><a href="https://twitter.com/sanqualis">@sanqualis</a></li>
          <li><a href="http://sanqualis.com">http://sanqualis.com</a></li>
        </div>
      </span>
      
      <span id ="paco" class = "organizer">
        <%= image_tag 'paco.jpg', :class => 'profile-pic'  %>
        <div class = "caption">
          <h3>Francisco 'Paco' Alcantara</h3>
          <li><a href="https://twitter.com/pacoalcantara">@PacoAlcantara</a></li>
          <li><a href="http://www.flickr.com/photos/fotopakismo/">Flickr</a></li>
        </div>
      </span>
     </div>
    </div>
  </section>
 
  <section id = "footer">
    <div id = "credits" class = "container">
      <div id = "copyright">
            Copyright &copy; <%= Time.now.year %> Hacker News Kansai 
      </div>
      <div id = "created">
            Created by <%= link_to 'FajitaNachos', 'http://fajitanachos.com' %>
      </div>
    </div>
  </section>

</div>